Repository ITISFoundation/dockerfiles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcrespov,, @Surfict, @sanderegg,, @oetiker, @pcrespov, @sanderegg

.github/CODEOWNERS:

# Maps code in repository with maintainers
# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
Makefile                                  @pcrespov, @Surfict
/.travis.yml                              @sanderegg, @Surfict
/ci/                                      @sanderegg, @Surfict
/devpi/                                   @oetiker
/pip-kits/                                @oetiker
/python-with-pandas/                      @pcrespov
/qooxdoo-kit/                             @ignapas , @pcrespov
/rabbitmq/                                @sanderegg
/scripts/                                 @pcrespov

Itisfoundation repo
  devpi/Makefile
Owners: @oetiker

Corrections asked + readme + workflow
  .travis.yml
  README.md
  check_versions.sh
  ci/travis/docs/workflow.PNG
  ci/travis/helpers/check_changes.sh
  devpi/VERSION
  example-config/Dockerfile
  example-config/Makefile
  example-config/README.md
  example-config/VERSION
  example-config/docker-compose.yml
Owners: @sanderegg,, @Surfict, @oetiker, @pcrespov,

Update README
  example-config/README.md
Owners: none

Update README
  README.md
Owners: none

Update README
  README.md
Owners: none

cleaning'
  devpi/Makefile
  devpi/test.json
Owners: @oetiker

PR corrections
  .travis.yml
  devpi/.TAG
Owners: @sanderegg,, @Surfict, @oetiker

add labels
  devpi/Makefile
  devpi/docker-compose.yml
Owners: @oetiker

Add prefix to services (#48)
  .bumpversion.cfg
  .cookiecutterrc
  Dockerfile
  VERSION
  deployment_config.default.yaml
  deployment_config.devel.yaml
  docker-compose.yml
  setup.py
  src/simcore_service_deployment_agent/__version__.py
  src/simcore_service_deployment_agent/auto_deploy_task.py
  src/simcore_service_deployment_agent/config_schema.py
  tests/test-config.yaml
Owners: none

Add endpoint variable (#52)
  .bumpversion.cfg
  .cookiecutterrc
  VERSION
  deployment_config.default.yaml
  deployment_config.devel.yaml
  setup.py
  src/simcore_service_deployment_agent/__version__.py
  src/simcore_service_deployment_agent/auto_deploy_task.py
  src/simcore_service_deployment_agent/config_schema.py
  src/simcore_service_deployment_agent/portainer.py
  tests/mocks/valid_config.yaml
  tests/mocks/valid_portainer_config.yaml
  tests/mocks/valid_system_test_config.yaml
  tests/test_auto_deploy_task.py
  tests/test_portainer.py
Owners: none

converter from jsonschema to openapi
  json-schema-to-openapi-schema/Dockerfile
  json-schema-to-openapi-schema/Makefile
  json-schema-to-openapi-schema/README.md
  json-schema-to-openapi-schema/converter.js
Owners: @pcrespov,, @Surfict

Swagger-cli
  swagger-cli/Dockerfile
  swagger-cli/Makefile
  swagger-cli/README.md
  swagger-cli/package-lock.json
  swagger-cli/package.json
Owners: @pcrespov,, @Surfict

Log signature change (#55)
  .bumpversion.cfg
  .cookiecutterrc
  Makefile
  VERSION
  deployment_config.default.yaml
  setup.py
  src/simcore_service_deployment_agent/__version__.py
  src/simcore_service_deployment_agent/config_schema.py
  src/simcore_service_deployment_agent/docker_registries_watcher.py
  src/simcore_service_deployment_agent/portainer.py
  tests/mocks/valid_system_test_config.yaml
  tests/test_portainer.py
Owners: @pcrespov,, @Surfict
